# Byte-compiled / cached files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.log
*.db

# Virtual environment
venv/
env/
*.venv
Pipfile
Pipfile.lock

# Dependency files
requirements.txt
poetry.lock

# Environment variables
.env
*.env

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Deployment & Build files
*.bak
*.orig
*.DS_Store
node_modules/
dist/
build/
